.blog-preview-root {
    display: grid;
    grid-template-rows: max-content max-content max-content;
}

.blog-preview-root h2 {
    margin-bottom: 0.5rem;
    font-size: 4rem;
    text-align: center;
}

.image-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 2rem auto;
}

.preview-text {
    max-width: 600px;
    margin: 0 auto;
}

.blog-preview-root a:hover {
    text-decoration: underline;
}

.blog-preview-root .metadata {
    color: var(--colors-gray);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .image-container {
        width: 300px;
        height: 300px;
    }

    .preview-text {
        max-width: 300px;
    }

    .blog-preview-root h2 {
        font-size: 2rem;
    }

    .blog-preview-root .metadata {
        font-size: 1.25em;
    }
}