.blog-root {
    background: white;
    padding: 1rem 4rem;
    box-shadow: var(--decorations-box-shadow);
}

.blog-post img {
    max-width: 100%;
}

.metadata {
    color: var(--colors-gray)
}

.ijou {
    text-align: center;
    padding: 2rem;
}