.blog-root {
    background: white;
    padding: 1rem 4rem;
    margin-top: 2rem;
    box-shadow: 0 0 16px var(--colors-gray-light);
}

.blog-post img {
    max-width: 100%;
}

.metadata {
    color: var(--colors-gray)
}

.ijou {
    text-align: center;
    padding: 2rem;
}