.image-container {
  width: 100%;
  margin: 2rem auto;
}

/* These are hacks to enable full-bleed with NextJS, I need to read up on the Image component to do it properly */

.image-container > * {
  position: relative !important;
}

.image-container > * > img {
  position: relative !important;
  height: auto !important;
}
