.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title > *:first-child {
  font-size: 6rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.25rem;
}

.japanese-greeting {
  margin-top: 1rem;
  color: var(--colors-gray);
  font-size: 1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.card {
  position: relative;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 300px;
  border-radius: 4px;
  align-self: s;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--colors-theme-primary);
  border-color: var(--colors-theme-primary);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
}

.card p {
  margin: 0;
  color: var(--colors-gray);
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.author-name {
  color: var(--colors-theme-primary);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
