.header-root {
  width: 100%;
  display: grid;
  grid-template-columns: [logo] max-content auto [navigation] max-content;
  margin-bottom: 2rem;
}

.logo {
  grid-column: logo;
  font-size: 3rem;
  margin-top: 0.5em;
}

.navigation {
  grid-column: navigation;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding: 0;
}

.navigation li {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

@media (max-width: 500px) {
  .header-root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 2rem;
  }
}
