.blog-root {
  padding: 1rem 0;
  box-shadow: var(--decorations-box-shadow);
}

.blog-root img {
  max-width: 100%;
}

.blog-root h2 {
  margin-top: 2rem;
}

.blog-root h3 {
  margin-top: 2rem;
}

.metadata {
  color: var(--colors-gray);
}

.share-buttons,
.about-author {
  margin-top: 4em;
  text-align: center;
}

.share-buttons a,
.about-author a {
  color: var(--colors-theme-primary);
}

.share-buttons a:hover,
.about-author a:hover {
  text-decoration: underline;
}

.about-author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-author img {
  border-radius: 100%;
}

.about-author > *:last-child {
  margin-top: 1em;
}

@media (max-width: 800px) {
  .blog-root {
    padding: 1rem 0;
  }
}
