.blog-root {
  padding: 1rem 0;
  box-shadow: var(--decorations-box-shadow);
}

.blog-root img {
  max-width: 100%;
}

.blog-root h2 {
  margin-top: 2rem;
}

.blog-root h3 {
  margin-top: 2rem;
}

.metadata {
  color: var(--colors-gray);
}

.ijou {
  text-align: center;
  padding: 2rem;
}

@media (max-width: 800px) {
  .blog-root {
    padding: 1rem 0;
  }
}
