.blog-preview-root {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 1fr min(70ch, 100%) 1fr;
}

.blog-preview-root > * {
  grid-column: 2;
}

.blog-preview-root > .title {
  grid-column: 1/4;
  max-width: min(100ch, 100%);
  margin: 0 auto;
}

.cover-image {
  width: min(1100px, 100%);
  grid-column: 1 / 4;
}

.blog-preview-root code {
  font-size: 0.9rem;
  line-height: 1.5rem;
  background-color: var(--colors-background);
}

.blog-preview-root h1 {
  margin-bottom: 0.5rem;
  font-size: 4rem;
}

.blog-preview-root h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.preview-text {
  margin: 0 auto;
}

.preview-text img {
  max-width: 600px;
}

.preview-text p:has(img) {
  text-align: center;
}

.preview-text pre {
  white-space: pre-wrap;
}

.blog-preview-root a {
  color: var(--colors-theme-primary);
}

.blog-preview-root a:hover {
  text-decoration: underline;
}

.blog-preview-root a h1 {
  color: black;
  margin: 0 2rem;
}

.blog-preview-root .metadata {
  color: var(--colors-gray);
  margin: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .preview-text {
    margin: 0 1rem;
  }

  .blog-preview-root h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .blog-preview-root h2 {
    font-size: 1.5rem;
  }

  .blog-preview-root .metadata {
    font-size: 1.25em;
  }
}
